<div class="day-mits">
  <div class="page-header">
    <h1>MIT's <small>for {{niceDate date}}</small></h1>
  </div>
  {{#each mit in filteredMits}}
    {{#link-to 'mit' mit}}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{mit.title}}
            {{#if mit.tags.length}}
              {{#each tag in mit.tags}}
                {{#link-to 'tag' tag.id tagName="a" classNames = "label label-info"}}{{tag.name}}{{/link-to}}
              {{/each}}
            {{/if}}
            <small class="pull-right">{{mit.comments.length}} comment{{pluralize mit.comments.length}} </small>
          </h3>
        </div>
        {{#if mit.description.length}}
          <div class="panel-body">
            <p>{{mit.description}}</p>
          </div>
        {{/if}}
      </div>
    {{/link-to}}
  {{/each}}
</div>
