<div class="day-mits">
  <div class="page-header">
    <h1>MIT's <small>for {{niceDate date}}</small></h1>
  </div>
  {{#each}}
    <div {{bind-attr class=":panel complete:panel-default:panel-primary"  }}>
      <div class="panel-heading">
        <h3 class="panel-title">
          {{#link-to 'mit' this}}
            {{title}}
          {{/link-to}}
          {{#if tags.length}}
            {{#each tag in this.tags}}
              <span class="tag-label">
                {{#link-to 'tag' tag.id tagName="a" classNames="label label-success"}}{{tag.name}}{{/link-to}}
              </span>
            {{/each}}
          {{/if}}
          <small class="pull-right">{{comments.length}} comment{{pluralize comments.length}}</small>
        </h3>
      </div>
      {{#if description.length}}
        <div class="panel-body">
          <p>{{description}}</p>
        </div>
      {{/if}}
    </div>
    {{#if complete}}
    {{else}}
      <button class="btn btn-primary" {{action "complete" this}}>Done <span class="glyphicon glyphicon-ok"></span></button>
    {{/if}}
  {{/each}}
</div>
