<div class="day-mits">
  <div class="page-header">
    <h1>MIT's <small>for {{niceDate date}}</small></h1>
  </div>
  {{#each}}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{#link-to 'mit' this}}
            {{title}}
          {{/link-to}}
          {{#if tags.length}}
            {{#each tag in this.tags}}
              {{#link-to 'tag' tag.id tagName="a" classNames = "label label-info"}}{{tag.name}}{{/link-to}}
            {{/each}}
          {{/if}}
          <small class="pull-right">{{comments.length}} comment{{pluralize comments.length}} </small>
        </h3>
      </div>
      {{#if description.length}}
        <div class="panel-body">
          <p>{{description}}</p>
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>
