<div class="mit">
  <div class="page-header">
    <h1>
      {{title}}
      <small> from {{niceDate created_at}}
        {{#if tags.length}}
          <span class="pull-right">
            {{#each tag in tags}}
              {{#link-to 'tag' tag.id tagName="a" classNames = "label label-primary"}}{{tag.name}}{{/link-to}}
            {{/each}}
          </span>
        {{/if}}
      </small>
    </h1>
  </div>
  {{#if description}}
    <p class="lead">{{description}}</p>
  {{else}}
    <p class="lead">No description available</p>
  {{/if}}
  <hr>

  {{#if comments.length}}
    <div class="comments">
      {{#each comment in comments}}
        {{log comment}}
        <li class="comment">
          <p class="author"><strong>{{comment.user.username}}</strong> - {{timeAgo comment.created_at}}</p>
          <span>
            {{comment.body}}
          </span>
        </li>
      {{/each}}
    </div>
  {{/if}}

  {{outlet}}
  <div {{bind-attr class="newCommentPath:hide-new-mit"}}>
    {{#link-to 'comments.new'}}Add Comment <span class='glyphicon glyphicon-plus-sign'></span>{{/link-to}}
  </div>
</div>
